.font-color{
    font-style: italic;
    color: #5c6e91;
}
article{
    border: 1px solid #b2ad7d;
    margin: 15px;
    background-color:#f2f4c0 ;
    padding: 15px;
}

body{
    background-color: #e4e978;
    width: 700px;
    margin: 10px;
    padding: 5px;
  
}